[submodule "Atmosphere-libs"]
	path = Atmosphere-libs
	url = https://github.com/Switch-Bros/Atmosphere-libs.git
[submodule "libtesla"]
	path = libtesla
	url = https://github.com/Switch-Bros/libtesla.git
